<div class="cbj-dropdown" (focusout)="toggleMenu($event)">
    <cbj-button [btnClasses]="classes()" (click)="toggleMenu()">
        {{toggleTitle}}
        <i *ngIf="options.arrow" class="material-icons md-1">keyboard_arrow_down</i>
    </cbj-button>
    <div class="cbj-menu" [@collapse]="menuState">
        <cbj-button *ngFor="let item of items; trackBy: trackByFn"
                    [btnClasses]="classes()"
                    [class.active]="item.active"
                    (click)="itemClick(item)">
            {{item.title}}
        </cbj-button>
    </div>
</div>