.jumbotron {
  margin-bottom: 1.5rem;

  img {
    max-width: 85%;
    height: auto;
  }
  h1 {
    font-size: 3rem;

    .sub {
      display: block;
      font-size: 1.5rem
    }
  }

  @include media-breakpoint-up(lg) {
    h1 {
      font-size: 4rem;
    }
  }
}