<div class="card">
    <div class="dtTitle">
        <ng-container *ngIf="config.multiData; else singleTitle">
            <cbj-menu [options]="{arrow: true, title: false, items: menuItems}"></cbj-menu>
        </ng-container>
        <ng-template #singleTitle>
            <h4>{{config.title}}</h4>
        </ng-template>
    </div>
    <table [ngClass]="config.classes">
        <thead>
        <tr class="dtHeaders">
            <th *ngFor="let col of columns" class="dtHeader">
                {{col.name}}
                <i *ngIf="col.sortable" class="material-icons md-1" [ngClass]="col.sortOrd === 'desc' ? 'down' : ''">arrow_upward</i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows" class="dtRow">
            <td *ngFor="let data of columns" class="dtCell">
                <span *ngIf="isString(data.data); else elseBlock">
                    {{row[data.data]}}
                </span>
                <ng-template #elseBlock>
                    <span [innerHTML]="data.data(row)"></span>
                </ng-template>
            </td>
        </tr>
        </tbody>
    </table>
</div>