<div class="card" [ngClass]="config.cardClasses">

    <div *ngIf="config.multiData || config.title" class="dtTitle">
        <ng-container *ngIf="config.multiData; else singleTitle">
            <cbj-menu [options]="{arrow: true, title: false}" [items]="menuItems"></cbj-menu>
        </ng-container>
        <ng-template #singleTitle>
            <h4>{{config.title}}</h4>
        </ng-template>
    </div>

    <div class="dtTable" [ngClass]="config.classes">

        <div class="dtTable-row dtTable-header">
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="!col.hidden">
                    <div class="dtTable-row-cell"
                         [ngStyle]="{'flex-grow': col.flex}"
                    >
                        {{col.name}}
                        <ng-container *ngIf="col.sortable">
                            <i *ngIf="col.sorted; else notSorted" class="material-icons md-success md-1" [ngClass]="col.sortOrd === 'desc' ? 'down' : ''">arrow_upward</i>
                            <ng-template #notSorted>
                                <i class="material-icons md-1"></i>
                            </ng-template>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="colsHidden">
                <div class="dtTable-row-cell" [ngStyle]="{'flex-shrink': 1}">
                    More
                </div>
            </ng-container>
        </div>

        <div *ngFor="let row of visibleRows" class="dtTable-row">
            <ng-container *ngFor="let col of columns">
                <div *ngIf="!col.hidden"
                     class="dtTable-row-cell"
                     [ngStyle]="{'flex-grow': col.flex}">

                    <ng-container *ngIf="isString(col.data); else compCell">
                        <span [innerHTML]="row[col.data]"></span>
                    </ng-container>
                    <ng-template #compCell>
                        <ng-template [cbjCompCell]="{row: row, component: col.data, keys: col.keys}"></ng-template>
                    </ng-template>

                </div>
            </ng-container>
            <ng-container *ngIf="colsHidden">
                <div class="dtTable-row-cell">
                    <div class="toggler" (click)="row.cbjState = row.cbjState === 'closed' ? 'open' : 'closed'">
                        <i class="material-icons tiny md-primary">add_box</i>
                    </div>
                </div>
                <div class="dtTable-row-hidden" [@collapse]="row.cbjState">
                    <ul class="cols-list">
                        <ng-container *ngFor="let col of columns">
                            <li *ngIf="col.hidden && isString(col.data)" class="col"><span class="col-name">{{col.name}}: </span><span [innerHTML]="row[col.data]"></span></li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>
        </div>


        <div *ngIf="config.paging" class="card-footer dtTable-footer">
            <nav class="" aria-label="Demo Table Navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>