//
// Buttons
//
.clickable {
  @include clickable;
}
.btn {
  height: $cbjn-btn-height;
  min-width: $cbjn-btn-min-width;
  margin: .5rem;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  text-transform: $btn-text-transform;
  font-family: $font-family-base;
  @include clickable;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $cbj-btn-border-radius);
  border: none;
  @include cbj-elevation-transition();

  .material-icons {
    margin: 0 .25rem;
  }

  &-flat {
    @include cbj-button-variant(transparent, rgba($body-bg, .75), rgba($body-bg,.85), false, true);
  }

  &-raised {
    @include cbj-button-variant(transparent, darken($body-bg, 2%), darken($body-bg, 3%), true, true);
  }

  @each $color, $value in $theme-colors {
    &.btn-#{$color} {
      &.btn-flat {
        @include cbj-button-variant($value);
      }
      &.btn-raised {
        @include cbj-button-variant($value, darken($value, 15%), darken($value, 30%), true);
      }
    }
  }
}

button {
  @extend .btn
}