
/**
 * Datatable
 */
.dtTitle {
  padding: .25rem;

  h1, h2, h3, h4, h5 {
    margin: 0;
  }
}

.dtTable {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $white;
  color: $gray-900;

  // .Table-header
  &-header {
    color: $gray-700;
    font-size: .95rem;

    &.dtTable-row {
      &:hover {
        background-color: $white;
      }
    }
  }
  // .Table-row
  &-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &:hover {
      background-color: $gray-400;
    }


    // .Table-row-item
    &-cell {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 0;
      flex-basis: 0;
      align-items: center;
      padding: 0.5em;
    }

    &-hidden {
      display: block;
      overflow: hidden;
      width: 100%;
    }
  }

  &.striped {
    .dtTable-row {
      &:nth-of-type(even) {
        background-color: theme-color(dark);
        color: $white;
      }
      &:nth-of-type(odd) {
        background-color: $white;
      }
    }
  }
}