
/**
 * Datatable
 */
.dtTable {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $white;
  color: $gray-900;

  // .Table-header
  &-header {
    display: none;
    @include media-breakpoint-up(md) {
      color: $gray-700;
      font-size: .95rem
    }

    &.dtTable-row {
      &:hover {
        background-color: $white;
      }
    }
  }
  // .Table-row
  &-row {
    width: 100%;

    &:hover {
      background-color: $gray-400;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      flex-flow: row nowrap;
    }
    // .Table-row-item
    &-cell {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      word-break: break-all;
      align-items: center;

      &:before {
        content: attr(id);
        width: 30%;
        font-weight: 700;
      }
      @include media-breakpoint-up(md) {
        border: 1px solid $gray-300;
        padding: 0.5em;
        &:before { content: none; }
      }
    }
  }

  &.striped {
    .dtTable-row {
      &:nth-of-type(even) {
        background-color: theme-color(dark);
        color: $white;
      }
      &:nth-of-type(odd) {
        background-color: $white;
      }

      @include media-breakpoint-up(md) {
        &:nth-of-type(even) {
          background-color: theme-color(dark);
          color: $white;
        }
        &:nth-of-type(odd) {
          background-color: $white;
        }
      }
    }
  }
}