/**
 * Menu
 */
.cbj-dropdown {
  position: relative;
  display: inline-flex;

  .cbj-menu {
    border-radius: 2.5%;
    position: absolute;
    max-width: 350px;
    top: 0;
    left: 0;
    padding: 0;
    transition: all 350ms ease-in-out;
    overflow: hidden;
    z-index: 1000;
    background: $body-bg;
    @include cbj-elevation(5);
  }


  .cbj-menu-item, button, a {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .active {
    .cbj-menu-item, button, a {
      background: rgba($body-bg, .25) !important;
      color: color-yiq(rgba($body-bg, .25)) !important;
    }
  }
}