.cbj-scroll-wrapper {
  padding: 0;

  &.show {
    padding: 0 1rem 0 0;
  }

  &.sidebar-scroll-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 350ms ease-in-out;
    transform: translateX(-101%);
    @include elevation-left-sidebar;
    z-index: 101;

    &.open {
      transform: translateX(0);

      @include media-breakpoint-up(sm) {
        width: 500px;
      }
    }

    @include media-breakpoint-up(lg) {
      @include make-col-ready;
      width: 0;
      padding: 0;
      transform: translateX(0);
    }
  }
}
.cbj-scroll-grid, .cbj-scroll-bar {
  opacity: 0;
  transition: opacity 250ms ease-in-out;

  &.show {
    opacity: 1
  }
}