/*
 * Buttons
 */
$btn-text-transform:          uppercase !default;
$flat-btn-color:              $white !default;
$flat-btn-active-color:       $gray-300 !default;
$flat-btn-active-bg:          rgba($gray-600, .5) !default;
$flat-variant-active-color:   $white !default
$raised-btn-bg:               $gray-600 !default;
$raised-btn-color:            $black !default;
$raised-variant-color:        $white;
$cbj-btn-border-radius:       5% !default

/*
 * Navbar
 */
$navbar-height:               3.25rem !default;

/*
 * Navs
 */
$indicator-bg:                theme-color(success) !default;
$nav-card-link-color:         $gray-300 !default;
$nav-card-link-active-color:  $white !default;
$nav-card-link-padding-left:  3rem;

/*
 * Menu
 */


