.card {
  background-color: theme-color(primary);

}

.nav-card {

  .nav-tabs {

    .nav-link {

      &.active {
        color: darken($white, 10%);
        background-color: rgba(0, 0, 0, .15);
      }
    }
  }
}